<label for="name">Name</label>
<input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">
<br/>
<label for="sex">Sex</label>

<input type="radio" id="sex" name="cat[sex]" value="male">
<label for="sex">Male</label>
<input type="radio" id="sex" name="cat[sex]" value="female">
<label for="sex">Female</label>